section#arhi.arhi
 .arhi__wrapper
    .container-fluid
      .arhi__body
        .arhi__item.arhi-item
        .arhi__item.arhi-item
          .arhi-item__body
            h2.title Модалка с плеером
            .arhi-item__description Здесь открывается модалка с встроенным видеоплеером. Подключение AJAX с внешней страницы.
            .arhi-item__button.popup__init
              button.btn.btn--success.popup-player-init-js(type="button" rel="slide-player-1-popup") Открыть видео


