//- подключаем везде
include ../utils/mixins

.container.bunner
  .bunner__body.row
    .bunner__buttons.row.no-gutters
      button.btn.btn-primary.btn-primary-all(type='button') Стоматология 
      button.btn.btn-primary.btn-primary-all(type='button') Косметология
    .bunner__discription.col-md-9.col-lg-8.col-xl-5
      p Данный сайт является прототипом сайта по медицинской тематике. Сайт создан исключительно для демонстрации некоторых возможностей реализации отдельных блоков.
      p Здесь можно увидеть слайдер с модальными окнами, каждое из которых содержит встроенный плеер. Есть скроллинг по пунктам меню, кнопка возврата наверх и форма с отправкой данных на сервер через AJAX запрос.  
    h1.bunner__title акции 
    .bunner__info.bunner-info.col-md-6.col-lg-4
      .bunner-info__body
        .bunner-info__title Отбеливание зубов
        .bunner-info__text  Отбеливание зубов Phillips Zoom White Speed( Zoom4) -20000 вместо 27000
        a(href="#!").bunner-info__link  Подробнее
          i &#8594;      
      



