//- подключаем везде
include ../utils/mixins

section#bunner.bunner
  .bunner__wrapper
    .ibg.bg
      img(src="assets/img/dental-1.png",alt="")
    .container
      .bunner__body.row
        .bunner__buttons.row.no-gutters
          button.btn.btn-primary.btn-primary-all(type='button') Стоматология 
          button.btn.btn-primary.btn-primary-all(type='button') Косметология
        .bunner__discription.col-md-6.col-lg-4 
          span “Идеальное лицо — это совместное достижение стоматолога и косметолога. Если вы видите недостатки в своих чертах лица, а процедуры не дают желаемого результата, вам необходим комплексный подход для решения проблемы.”
          p “Идеальное лицо — это совместное достижение стоматолога и косметолога."
        h1.bunner__title акции 
        .bunner__info.bunner-info.col-md-6.col-lg-4
          .bunner-info__body
            .bunner-info__title Отбеливание зубов
            .bunner-info__text  Отбеливание зубов Phillips Zoom White Speed( Zoom4) -20000 вместо 27000
            a(href="#!").bunner-info__link  Подробнее
              i &#8594;

section#nav.nav
  .nav__wrapper
    .container
      .nav__body.row.align-items-center
        .col-xl-3.col-md-6.col-lg-6.nav__item.nav-item
          .nav-item__body 
            button.btn.btn-primary.btn-primary-all.proba-item__button(type="button") расчитать стоимость
        .col-xl-3.col-md-6.col-lg-6.nav__item.nav-item
          .nav-item__body
            button.btn.btn-primary.btn-primary-all.proba-item__button.proba-item__button_big(type="button") получить консультацию
        .col-xl-3.col-md-6.col-lg-6.nav__item.nav-item
          .nav-item__body.d-flex.align-items-center
            .nav-item__icon
              img(src="assets/img/Group9.svg",alt="img")
            .nav-item__text +7(495) 726-55-80
        .col-xl-3.col-md-6.col-lg-6.nav__item.nav-item
          .nav-item__body.d-flex.align-items-center
            .nav-item__icon
              img(src="assets/img/Vector.svg",alt="img")
            .nav-item__text Москва, Ломоносовский проспект, 29 к 2



