section#cards.grid-cards
    .grid-cards__cards.object-cards
      .object-card
        .object-card__slider.slider
          .slider__arrows
            i.slider__arrow.slider__arrow_prev.slider__arrow_prev--1.icon-chevron-left
            i.slider__arrow.slider__arrow_next.slider__arrow_next--1.icon-chevron-right
          ul.slider__body.slider-js-1
            - 
              slides = [
                  {  img:"assets/img/cards/img-1.webp"},
                  {  img:"assets/img/cards/img-2.webp"},
                  {  img:"assets/img/cards/img-3.webp"},
                  {  img:"assets/img/cards/img-4.webp"},
                  {  img:"assets/img/cards/img-5.webp"},
              ]
            each item in slides
              li.slider__item.bg(style=`background-image: url(${item.img})`)
        .object-card__title 1-комнатная, 36м²
        .object-card__price 14 900 000 ₽
        .object-card__sub-price 108 285 ₽ за м²
        .object-card__adress  Улица Серафимовича, 18
        .object-card__info  13 этаж из 17
        .object-card__properties.properties
          .properties__property.property
            .property__img.property__img--metro M
            span.property__text Ленинский проспект
          .properties__property.property
            i.property__img.property__img--bus.icon-train
            span.property__text.property__text--bus 5 мин.
        .object-card__description Cдам ЛИЧHO уютную квартиру на 13 этаже с современным ремонтом, техникой и мебелью. Цена: 17000 руб. Адрес: улица Добролюбова 162/1 5 минут от метро Золотая Нива
        .object-card__person.object-card-person
          .object-card-person__avatar 
          .object-card-person__title Ксения
          .object-card-person__time 5 часов назад
        .object-card__monitor.object-card-monitor
          button.btn.btn--success.btn--success-icon.object-card-monitor__button(type="button") 
            i.icon-phone.monitor-icon
            span +7(000) 123423
          button.btn.button--empty(type='button').object-card-monitor__like  
            i.icon-heart1.monitor-icon
            span В избранное
          button.btn.button--empty(type='button').object-card-monitor__location
            i.icon-location2.monitor-icon
      .object-card
        .object-card__slider.slider
          .slider__arrows
            i.slider__arrow.slider__arrow_prev.slider__arrow_prev--2.icon-chevron-left
            i.slider__arrow.slider__arrow_next.slider__arrow_next--2.icon-chevron-right
          ul.slider__body.slider-js-2
            - 
              slides = [
                  {  img:"assets/img/cards/img-1.webp"},
                  {  img:"assets/img/cards/img-2.webp"},
                  {  img:"assets/img/cards/img-3.webp"},
                  {  img:"assets/img/cards/img-4.webp"},
                  {  img:"assets/img/cards/img-5.webp"},
              ]
            each item in slides
              li.slider__item.bg(style=`background-image: url(${item.img})`)
        .object-card__title 1-комнатная, 36м²
        .object-card__price 14 900 000 ₽
        .object-card__sub-price 108 285 ₽ за м²
        .object-card__adress  Улица Серафимовича, 18
        .object-card__info  13 этаж из 17
        .object-card__properties.properties
          .properties__property.property
            .property__img.property__img--metro M
            span.property__text Ленинский проспект
          .properties__property.property
            i.property__img.property__img--bus.icon-train
            span.property__text.property__text--bus 5 мин.
        .object-card__description Cдам ЛИЧHO уютную квартиру на 13 этаже с современным ремонтом, техникой и мебелью. Цена: 17000 руб. Адрес: улица Добролюбова 162/1 5 минут от метро Золотая Нива
        .object-card__person.object-card-person
          .object-card-person__avatar 
          .object-card-person__title Ксения
          .object-card-person__time 5 часов назад
        .object-card__monitor.object-card-monitor
          button.btn.btn--success.btn--success-icon.object-card-monitor__button(type="button") 
            i.icon-phone.monitor-icon
            span +7(000) 123423
          button.btn.button--empty(type='button').object-card-monitor__like  
            i.icon-heart1.monitor-icon
            span В избранное
          button.btn.button--empty(type='button').object-card-monitor__location
            i.icon-location2.monitor-icon
      .object-card
        .object-card__slider.slider
          .slider__arrows
            i.slider__arrow.slider__arrow_prev.slider__arrow_prev--3.icon-chevron-left
            i.slider__arrow.slider__arrow_next.slider__arrow_next--3.icon-chevron-right
          ul.slider__body.slider-js-3
            - 
               slides = [
                  {  img:"assets/img/cards/img-1.webp"},
                  {  img:"assets/img/cards/img-2.webp"},
                  {  img:"assets/img/cards/img-3.webp"},
                  {  img:"assets/img/cards/img-4.webp"},
                  {  img:"assets/img/cards/img-5.webp"},
              ]
            each item in slides
              li.slider__item.bg(style=`background-image: url(${item.img})`)
        .object-card__title 1-комнатная, 36м²
        .object-card__price 14 900 000 ₽
        .object-card__sub-price 108 285 ₽ за м²
        .object-card__adress  Улица Серафимовича, 18
        .object-card__info  13 этаж из 17
        .object-card__properties.properties
          .properties__property.property
            .property__img.property__img--metro M
            span.property__text Ленинский проспект
          .properties__property.property
            i.property__img.property__img--bus.icon-train
            span.property__text.property__text--bus 5 мин.
        .object-card__description Cдам ЛИЧHO уютную квартиру на 13 этаже с современным ремонтом, техникой и мебелью. Цена: 17000 руб. Адрес: улица Добролюбова 162/1 5 минут от метро Золотая Нива
        .object-card__person.object-card-person
          .object-card-person__avatar 
          .object-card-person__title Ксения
          .object-card-person__time 5 часов назад
        .object-card__monitor.object-card-monitor
          button.btn.btn--success.btn--success-icon.object-card-monitor__button(type="button") 
            i.icon-phone.monitor-icon
            span +7(000) 123423
          button.btn.button--empty(type='button').object-card-monitor__like  
            i.icon-heart1.monitor-icon
            span В избранное
          button.btn.button--empty(type='button').object-card-monitor__location
            i.icon-location2.monitor-icon
      .object-card
        .object-card__slider.slider
          .slider__arrows
            i.slider__arrow.slider__arrow_prev.slider__arrow_prev--4.icon-chevron-left
            i.slider__arrow.slider__arrow_next.slider__arrow_next--4.icon-chevron-right
          ul.slider__body.slider-js-4
            - 
              slides = [
                  {  img:"assets/img/cards/img-1.webp"},
                  {  img:"assets/img/cards/img-2.webp"},
                  {  img:"assets/img/cards/img-3.webp"},
                  {  img:"assets/img/cards/img-4.webp"},
                  {  img:"assets/img/cards/img-5.webp"},
              ]
            each item in slides
              li.slider__item.bg(style=`background-image: url(${item.img})`)
        .object-card__title 1-комнатная, 36м²
        .object-card__price 14 900 000 ₽
        .object-card__sub-price 108 285 ₽ за м²
        .object-card__adress  Улица Серафимовича, 18
        .object-card__info  13 этаж из 17
        .object-card__properties.properties
          .properties__property.property
            .property__img.property__img--metro M
            span.property__text Ленинский проспект
          .properties__property.property
            i.property__img.property__img--bus.icon-train
            span.property__text.property__text--bus 5 мин.
        .object-card__description Cдам ЛИЧHO уютную квартиру на 13 этаже с современным ремонтом, техникой и мебелью. Цена: 17000 руб. Адрес: улица Добролюбова 162/1 5 минут от метро Золотая Нива
        .object-card__person.object-card-person
          .object-card-person__avatar 
          .object-card-person__title Ксения
          .object-card-person__time 5 часов назад
        .object-card__monitor.object-card-monitor
          button.btn.btn--success.btn--success-icon.object-card-monitor__button(type="button") 
            i.icon-phone.monitor-icon
            span +7(000) 123423
          button.btn.button--empty(type='button').object-card-monitor__like  
            i.icon-heart1.monitor-icon
            span В избранное
          button.btn.button--empty(type='button').object-card-monitor__location
            i.icon-location2.monitor-icon
    aside.grid-cards__vidget 
      p Данная секция сделана на GRID , что позволяет гибко управлять как расположением блоков, так и перестраивать содержимое карточек.




