
section#contacts.contacts
 .contacts__wrapper(style="position: relative")
    .ibg.bg
      img(src="assets/img/img-1.png",alt="img")
    .container
      .contacts__body.row.justify-content-center
        form.connect__form.col-lg-8
          h3 Запишитесь на консультацию и мы поможем вам
          div
            .connect__form-item
              input#name(type='text' required='' placeholder=' Denzel Washington')
              label(for='name') ИМЯ*
            .connect__form-item
              input#email(type='email' required='' placeholder=' thebestmail@mail.com')
              label(for='email') Контактный телефон*
            .connect__form-item Для расчета предварительной стоимости лечения вышлите выписки и снимки на почту Dentalbeauty@mail.ru
          .form__submit-button
              button.btn.btn-primary.btn-primary-all.btn-primary-all_dark(type="submit") Записаться на консультацию
          