
section#contacts.contacts
  .contacts__wrapper
      .contacts__body.container
        form.contacts__form.contacts-form
          p.contacts-form__text
            |Здесь происходит отправка данных формы через AJAX запрос на сервер. Работу AJAX можно увидеть только при установке сайта на хостинге или открытии сайта на локальном сервере.
          .contacts-form__item
              input#name(type='text' required='' placeholder=' Denzel Washington' name="name")
              label(for='name') ИМЯ*
          .contacts-form__item
              input#phone(type='phone' required='' placeholder='+3(096) ___ __ __'  name="phone")
              label(for='phone') Контактный телефон*
          .contacts-form__item 
            p.contacts-form__text В итоге отправка данных и обновление формы происходит без перезагрузки страницы
          #result
          button#sub-button.btn.btn--success(type='button').contacts-form__submit-button Отправить данные