//- подключаем везде
include ../utils/mixins

header#header.header
  .header__wrapper
    .container
      .header__body.row
        a(href="#!").header__logo
          img(src="assets/img/logo.svg",alt="")
        ul.header__menu.header-menu.row.no-gutters#header__menu
          .header__menu_overlay
            .ibg.bg
              img(src="assets/img/dental-1.webp",alt="")
          i.header-close.fa.fa-times
          li.header-menu__item
            a.header-menu__link(href="#slider") О клинике 
          li.header-menu__item 
            a.header-menu__link(href="#work") Услуги
          li.header-menu__item 
            a.header-menu__link(href="#arhi") Цены
          li.header-menu__item 
            a.header-menu__link(href="#footer") Контакты
        .header__service.header-service
          .header-service__body.row.no-gutters
            a(href="#!").header-service__phone.col-xl-5  +7(495) 726-55-80
            .header-service__search.col-xl-7
              input.search-input(type='text' placeholder="Поиск")
              i.fa.fa-search
        i.header-burger.fa.fa-bars



