section#modaL.modaL
  .popup.first-popup
    .popup__overlay
      .popup__inner
        i.icon-x.close-js
  - 
    slidesPopup = [
        {class: "slide-1-popup" , title: "попап  слайда 1"},
        {class: "slide-2-popup" , title: "попап  слайда 2"},
        {class: "slide-3-popup" , title: "попап  слайда 3"},
        {class: "slide-4-popup" , title: "попап  слайда 4"},
        {class: "slide-5-popup" , title: "попап  слайда 5"},
    ]
  each slide in slidesPopup
    div(class=['popup']  class=slide.class )
      .popup__overlay
        .popup__inner
          p=slide.title
          i.icon-x.close-js









section#modaL.modaL
  .popup-player.slide-player-1-popup
      .popup-player__overlay
        .popup-player__inner
          i.icon-x.popup__close.close-js
          #player.player-1(data-plyr-provider='youtube' data-plyr-embed-id="bTqVqk7FSmY")