
section#popupInit.popupInit
  .container
    .popupInit__body.row
      .popupInit__left
        .ibg.bg
          img(src="assets/img/img-6.png",alt="img")
        img(src="assets/img/init.png",alt="img").popup__init  
      .popupInit__right
        .popupInit__text1 The Story Behind
        .popupInit__title
          h2 Gourmet  
        .popupInit__discription Lorem ipsum dolor sit amet,   consecteturadipiscingelit,  sed do eiusmod tempor incididunt ut labore et   doloremasdgnamaliqua. Queudis  ispicaterleurm sdum suspendisse ultrices   gravida.Risuscommodo maecens accumsan   lacus vel facilisis. 
        .popupInit__item  
          i.fa.fa-certificate(aria-hidden='true')
          span 100% Organic Meat
        .popupInit__item  
          i.fa.fa-certificate(aria-hidden='true')
          span Qatari Brand
        button.btn.btn-warning.popupInit__button(type='button') View More  
          i.fa.fa-caret-right(aria-hidden='true')


section#modal.modal
  .popup
    .popup__overlay
    .popup__inner
      #plyer.plyer
        .plyr__video-embed
          iframe(src='https://www.youtube.com/embed/6wJAdfTJZUQ' allowfullscreen='' allowtransparency='' allow='autoplay')
      
      span.icon-close2



