section.slider-main
      .slider-main__body
        .slider-main__arrows.slider-main-arrows
          .slider-main-arrows__arrow_prev.slider-main-arrows__arrow 
            img(src="assets/img/arrow-left.svg",alt="img")
          .slider-main-arrows__arrow_next.slider-main-arrows__arrow 
            img(src="assets/img/arrow-right.svg",alt="img")
          
        .slider-main-js
          - 
            slides = [
                { title: "первый слайд", rel: "slide-1-popup", headerButton: "modal-1"},
                { title: "второй слайд", rel: "slide-2-popup", headerButton: "modal-2"},
                { title: "третий слайд", rel: "slide-3-popup", headerButton: "modal-3"},
                { title: "четвертый слайд", rel: "slide-4-popup", headerButton: "modal-4"},
                { title: "пятый слайд", rel: "slide-5-popup", headerButton: "modal-5"},
            ]
          
          each slide in slides
            .slider-main__item.slider-main-item
              .slider-main-item__body
                .slider-main-item__content.slider-main-item-content
                      .slider-main-item-content__icon
                        img(src="assets/img/img-2.svg",alt="img")
                      .slider-main-item-content__title.common-Title=slide.title
                      .slider-main-item-content__text 
                        p Здесь открываются модальные окна. 
                        p Для каждого слайда- своя модалка
                        p Подключение AJAX с внешней страницы.
                      .slider-main-item-content__button.popup__init
                        button.btn.btn--success.popup-init-js(type="button" rel=slide.rel)=slide.headerButton

