section#slider-main.slider-main
 .slider-main__wrapper
    .container-fluid
      .slider-main__body
        .slider-main__arrows.slider-main-arrows
          .slider-main-arrows__arrow_prev.slider-main-arrows__arrow 
            img(src="assets/img/arrow-left.svg",alt="img")
          .slider-main-arrows__arrow_next.slider-main-arrows__arrow 
            img(src="assets/img/arrow-right.svg",alt="img")
        .slider-main-js
          .slider-main__item.slider-main-item
            .slider-main-item__body.row
              .col-12.col-lg-6.relative.slider-main-item__left
                .ibg.bg
                  img(src="assets/img/img-1.png",alt="")
              .col-12.col-lg-6
                .slider-main-item__content.slider-main-item-content
                  .slider-main-item-content__body.row.no-gutters.flex-column
                    .col-2.col-md-4.slider-main-item-content__icon.offset-7 
                      img(src="assets/img/img-2.svg",alt="img")
                    .col-6.slider-main-item-content__title Имплантация шаблонами
                    .col-8.slider-main-item-content__text  Максимально точная и атравматичная установка имплантов
                    .col-4.slider-main-item-content__button
                      button.btn.btn-primary.btn-primary-all.font-main(type="button") Подробнее
          .slider-main__item.slider-main-item
            .slider-main-item__body.row
              .col-12.col-lg-6.relative.slider-main-item__left
                .ibg.bg
                  img(src="assets/img/img-1.png",alt="")
              .col-12.col-lg-6
                .slider-main-item__content.slider-main-item-content
                  .slider-main-item-content__body.row.no-gutters.flex-column
                    .col-2.col-md-4.slider-main-item-content__icon.offset-7 
                      img(src="assets/img/img-2.svg",alt="img")
                    .col-6.slider-main-item-content__title Имплантация шаблонами
                    .col-8.slider-main-item-content__text  Максимально точная и атравматичная установка имплантов
                    .col-4.slider-main-item-content__button
                      button.btn.btn-primary.btn-primary-all.font-main(type="button") Подробнее
          .slider-main__item.slider-main-item
            .slider-main-item__body.row
              .col-12.col-lg-6.relative.slider-main-item__left
                .ibg.bg
                  img(src="assets/img/img-1.png",alt="")
              .col-12.col-lg-6
                .slider-main-item__content.slider-main-item-content
                  .slider-main-item-content__body.row.no-gutters.flex-column
                    .col-2.col-md-4.slider-main-item-content__icon.offset-7 
                      img(src="assets/img/img-2.svg",alt="img")
                    .col-6.slider-main-item-content__title Имплантация шаблонами
                    .col-8.slider-main-item-content__text  Максимально точная и атравматичная установка имплантов
                    .col-4.slider-main-item-content__button
                      button.btn.btn-primary.btn-primary-all.font-main(type="button") Подробнее1
     
     
       
