.slider-burger
  .slider-burger__body.container-burger
    .slider-burger__slides
      .slider-burger-js.container-burger
        .slider-burger__slide.slider-burger-tiny
          .card
            .card-body
              p.card-text Ready to Grill
              h5.card-title  Beef Burger
              img.card-img-top(src="assets/img/img-2.png", alt="Card image cap")
              a.btn.btn-primary(href='#') Shop Now
        .slider-burger__slide.slider-burger-tiny
          .card
            .card-body
              p.card-text Ready to Grill
              h5.card-title  Beef Burger
              img.card-img-top(src="assets/img/img-2.png", alt="Card image cap")
              a.btn.btn-primary(href='#') Shop Now
        .slider-burger__slide.slider-burger-tiny
          .card
            .card-body
              p.card-text Ready to Grill
              h5.card-title  Beef Burger
              img.card-img-top(src="assets/img/img-2.png", alt="Card image cap")
              a.btn.btn-primary(href='#') Shop Now
        .slider-burger__slide.slider-burger-tiny
          .card
            .card-body
              p.card-text Ready to Grill
              h5.card-title  Beef Burger
              img.card-img-top(src="assets/img/img-2.png", alt="Card image cap")
              a.btn.btn-primary(href='#') Shop Now
        .slider-burger__slide.slider-burger-tiny
          .card
            .card-body
              p.card-text Ready to Grill
              h5.card-title  Beef Burger
              img.card-img-top(src="assets/img/img-2.png", alt="Card image cap")
              a.btn.btn-primary(href='#') Shop Now
        .slider-burger__slide.slider-burger-tiny
          .card
            .card-body
              p.card-text Ready to Grill
              h5.card-title  Beef Burger
              img.card-img-top(src="assets/img/img-2.png", alt="Card image cap")
              a.btn.btn-primary(href='#') Shop Now
