//- подключаем везде
include ../utils/mixins



section
  .container
    .row.no-gutters
      .card.testGerl__cardGerl
        img.card-img-top(src='./assets/img/dental-1.png' alt='Card image')
        .card-img-overlay
          .jucc
            +btn-primary-brown("Стоматология")
            +btn-primary-brown("Косметология")
          .alert.alert-light  “Идеальное лицо — это совместное достижение стоматолога и косметолога. Если вы видите недостатки в своих чертах лица, а процедуры не дают желаемого результата, вам необходим комплексный подход для решения проблемы.”
          h5.card-title АКЦИИ
          .badge.badge-pill.badge-light 
            .title Отбеливание зубов
            .text Отбеливание зубов Phillips Zoom White Speed( Zoom4) -20000 вместо 27000
            a.testGerl__ref(href="#!") Подробнее
              i &#8594;





