section#work.work
 .work__wrapper
    .container
      .row
        h2 КАК МЫ РАБОТАЕМ
        .work__body
          .work__item.work-item
            .work-item__body
              img(src="assets/img/work/img-14.svg",alt="img").work-item__img
              .work-item__title Комплексный подход
              .work-item__description В клинике Dental&Beauty мы объединили   стоматологию и косметологию, чтобы сделать вас здоровыми, красивыми   и гармоничными.
          .work__item.work-item
            .work-item__body
              img(src="assets/img/work/img-16.svg",alt="img").work-item__img
              .work-item__title новации в области медицины
              .work-item__description Мы изучаем новые медецинские технологии и   выбираем для вас самые эффективные и премиальные.
          .work__item.work-item
            .work-item__body
              img(src="assets/img/work/img-11.svg",alt="img").work-item__img
              img(src="assets/img/work/img-17.svg",alt="img").work-item__img
              .work-item__title Комплексный подход
              .work-item__description Наши доктора работаютв индустрии больше 10 лет и им доверяют семьями.
          .work__item.work-item
            .work-item__body
              img(src="assets/img/work/img-15.svg",alt="img").work-item__img
              .work-item__title опытные специалисты 
              .work-item__description Дезинфекция и контроль стерильности - наша главная забота.