extends ../layout/main
block header
  //- include ../modules/header
  include ../modules/first
  include ../modules/cards
  include ../modules/slider
  include ../modules/modal
  include ../modules/arhi
  include ../modules/contacts
block content
  //- include ../modules/top
block footer
  //- include ../modules/modal
  include ../modules/footer
  