.arhi

.arhi__wrapper
  +pro

.container-fluid

.arhi__body
  +bg($back-main)


.row

.col-md-6

.col-lg-6

.arhi__item
  &:first-child
    +media-breakpoint-down(lg)
      padding: 0 0 90% 0	

.arhi-item
  position: relative
.ibg

.bg

.arhi-item__body
  padding: 17% 25% 10% 10%
.arhi-item__title
  	
.arhi-item__description
  padding: 2% 0 5% 0
.btn

.btn-primary

.btn-primary-all

.arhi-item__button  
  +juce
  button
    width: 207px
    height: 52px
    background: #FFFFFF
    border-radius: 26px
    +font-family(Montserrat,600,14px,29px,$f-color)



