.popup

  &
    position: fixed
    width: 100vw
    height: 100vh
    top: 0
    left: 0
    @include bg(rgba(0, 0, 0, 0.95))
    z-index: 1000

  &__overlay
    @include absolute(100%,100%,0,0,null,0%,0%)
  &__inner
    width: 70%
    height: 70%
    border: 30px solid DARKSLATEGRAY
    border-radius: 10px
    position: relative
    @include absolute(70%,70%,50%,50%,null,-50%,-50%)
    @include bg(  #ff9419)
    .icon-close2
      display: block
      color: black
      @include absolute(12px,12px,-15px,null,-15px,0%,0%)
      font-size: 12px
      &:hover
        cursor: pointer


.popupInit
  background-color: $black
  &__body
    @include bg(white) 
    margin: 50px -66px
    @media (min-width: 1200px) and (max-width: 1332px)
      margin: 50px calc(-15px - (66)*((100vw-1200px)/(1332-1200))) 
    @media (min-width: 992px) and (max-width: 1080px)
      margin: 50px calc(-15px - (40)*((100vw-992px)/(1080-992))) 
    @media (min-width: 768px) and (max-width: 840px)
      margin: 50px calc(-15px - (20)*((100vw-768px)/(840-768))) 
    @media (min-width: 576px) and (max-width: 655px)
      margin: 50px calc(-15px - (20)*((100vw-576px)/(655-576))) 
    @media (max-width: 576px) 
      margin: 50px -15px
  
  &__text1
    text-transform: uppercase
  &__title
    background: linear-gradient(to top,#ac7a2b, #ecd16e )
    h2
      text-transform: uppercase
      background: white
      mix-blend-mode: screen
      @include media-breakpoint-down(sm)
        font-size: calc(40px + (68-40)*((100vw-567px)/(1440-567)))
  

  &__discription
    padding: 30px 0 20px 0	
  &__item
    text-transform: uppercase
    i 
      margin: 0 20px 20px 0
      color:#c49a44
  &__button
    width: 183px
    height: 47px
    text-transform: uppercase
    background-image: linear-gradient(to top, #ecd16e, #ac7a2b)
    @include center
    transition: all 0.3s ease-in-out
    i
      margin: 0 0 0 20px
  
  &__left
    position: relative
    flex: 0 1 40%
    padding: 0 0 61.9% 0
    @include media-breakpoint-down(md)
      flex: 0 1 100%
    .popup__init
      @include flex
      @include absolute(140px,140px,50%,50%,null,null,null)
      transform: translate(-50%,-50%) scale(1)
      @include media-breakpoint-only(lg)
        transform: translate(-50%,-50%) scale(.8)
      @include media-breakpoint-down(md)
        transform: translate(-50%,-50%) scale(.5)
      @include media-breakpoint-down(sm)
        transform: translate(-50%,-50%) scale(.4)
      &:hover
        cursor: pointer
      @include bg(rgba(255, 255, 255, 0.4))
      border-radius: 50%
      z-index: 2

  &__right
    flex: 0 1 40%
    padding: 148px 153px	
    @include media-breakpoint-only(lg)
      padding: 148px 110px!important
    @include media-breakpoint-down(sm)
      padding: 148px 50px!important
      flex: 0 1 100%
      







